.header {
  background-color: #5c4d4d;
  padding: 35px;
  text-align: left;
  font-size: 48px;
  color: white;
  flex: 0 0 auto;
  height: 9%;
  align-content: center;
  font-size: 3rem;
  font-family: "Title_Bold";
  letter-spacing: 1px;
}
