.print-component {
  font-family: Arial, sans-serif;
  width: 79mm;
  height: 170mm;
  box-sizing: border-box;
}
* {
  border: 1px dotted #000;
}
.print-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 18%;
}

.num {
  height: 100%;
  font-size: 4rem;
  width: 30%;
  align-content: center;
  text-align: center;
  font-family: "Title_Bold";
}

.title {
  height: 100%;
  width: 70%;
  font-size: 1.4rem;
  align-content: center;
  text-align: center;
  font-family: "Batang_Regular";
  white-space: pre-wrap;
}
.print-section {
  border-bottom: 0.1mm solid #000;
  margin-right: 5%;
  margin-left: 5%;
  padding-left: 2%;
  padding-right: 2%;
  align-items: center;
  align-content: center;
  display: flex;
  justify-content: space-between;
  width: 86%;
  height: 6%;
}

.book-title {
  text-align: left;
  height: 100%;
  width: 70%;
  text-align: left;
  align-content: center;
  font-size: 1rem;
  font-family: "Title_Medium";
}
.short-recommender {
  text-align: left;
  height: 100%;
  width: 30%;
  text-align: right;
  align-content: center;
  font-size: 0.8rem;
  font-family: "Title_Medium";
}

.locate {
  text-align: right;
  align-content: center;
  padding-right: 6%;
  height: 6%;
  font-size: 0.8rem;
  font-family: "Title_Light";
}

.content {
  margin-bottom: 20px;
  height: 41%;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 2.8px;
  font-size: 0.9rem;
  font-family: "Batang_Regular";
  line-height: 150%;
  text-align: center;
  white-space: pre-wrap;
  align-content: center;
}

.recommender-section {
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  height: 12%;
  align-content: center;
}

.recommender {
  height: 40%;
  width: 100%;
  font-size: 0.6rem;
  font-family: "Title_Medium";
  text-align-last: justify;
}

.recommend-content {
  text-align: justify;
  height: 60%;
  font-size: 0.8rem;
  line-height: 120%;
  align-content: top;
  font-family: "Batang_Regular";
  white-space: pre-wrap;
}
.logo {
  display: flex; /* Flexbox 사용 */
  justify-content: center; /* 수평 가운데 정렬 */
  height: 12%;
  width: 100%;
  align-content: center;
}
.logo img {
  object-fit: none; /* 이미지 비율 유지 */
  width: 100%;
}
@media print {
  @page {
    size: 79mm 170mm;
    margin: 0;
  }

  body {
    margin: 0;
  }
}
