html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}
@media print {
  html,
  body,
  #root {
    margin: 0;
    padding: 0;
  }
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

@font-face {
  font-family: "Batang_Bold";
  src: url("./fonts/Batang_Bold.woff");
}

@font-face {
  font-family: "Batang_Regular";
  src: url("./fonts/Batang_Regular.woff");
}

@font-face {
  font-family: "Title_Bold";
  src: url("./fonts/Title_Bold.woff");
}
@font-face {
  font-family: "Title_Light";
  src: url("./fonts/Title_Light.woff");
}
@font-face {
  font-family: "Title_Medium";
  src: url("./fonts/Title_Medium.woff");
}
@font-face {
  font-family: "Pretendard-Bold";
  src: url("./fonts/Pretendard-Bold.woff");
}

@font-face {
  font-family: "Pretendard-ExtraBold";
  src: url("./fonts/Pretendard-ExtraBold.woff");
}

@font-face {
  font-family: "Pretendard-ExtraLight";
  src: url("./fonts/Pretendard-ExtraLight.woff");
}

@font-face {
  font-family: "Pretendard-Light";
  src: url("./fonts/Pretendard-Light.woff");
}
@font-face {
  font-family: "Pretendard-Medium";
  src: url("./fonts/Pretendard-Medium.woff");
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("./fonts/Pretendard-Regular.woff");
}
@font-face {
  font-family: "Pretendard-SemiBold";
  src: url("./fonts/Pretendard-SemiBold.woff");
}
@font-face {
  font-family: "Pretendard-Thin";
  src: url("./fonts/Pretendard-Thin.woff");
}
