html,
body,
#root {
  height: 100%;
  margin: 0;
  margin-left: 3%;
  margin-right: 3%;
  padding: 0;
}
@media print {
  html,
  body,
  #root {
    margin: 0;
    padding: 0;
  }
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

@font-face {
  font-family: "Batang_Bold";
  src: url("./fonts/Batang_Bold.woff");
}

@font-face {
  font-family: "Batang_Regular";
  src: url("./fonts/Batang_Regular.woff");
}

@font-face {
  font-family: "Title_Bold";
  src: url("./fonts/Title_Bold.woff");
}
@font-face {
  font-family: "Title_Light";
  src: url("./fonts/Title_Light.woff");
}
@font-face {
  font-family: "Title_Medium";
  src: url("./fonts/Title_Medium.woff");
}
